@model GaripSozluk.Common.ViewModels.Api.ApiResultVM

@{
    ViewData["Title"] = "Api Arama Sonuçları";

    var docs = Model.ResultModel.Docs.Distinct().ToList();
}



<div class="row">
    <div class="col shadow border border-success rounded-lg mt-5 pt-3">
        <div>
            Bulunan kayıt sayısı(Api cevabı): @Model.ResultModel.Num_found
        </div>
        <div>
            Listelenen kayıt sayısı: @docs.Count()
        </div>
        <br />
        <table class="table table-hover border rounded-lg">
            <thead>
                <tr>
                    <th></th>
                    <th>Eser adı</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in docs)
                {
                    <tr class="apiRecord">
                        <td>
                            <input type="checkbox" id="isSelected" name="@nameof(item.IsSelected)" style="width: 25px;height: 25px;" />
                        </td>
                        <td>
                            <label name="Title">@item.Title</label>
                        </td>
                        <td>
                            <label name="Year">@item.First_publish_year</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <button type="button" id="sendSelectedOnes" class="btn btn-success btn-block">Seçilenleri Kaydet</button>
        </div>
    </div>
</div>
<br />
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sendSelectedOnes").on(click, function (e) {
                e.preventDefault();

                var records = $(".apiRecord");





            })
        });
    </script>
}